<aside id="styles">
  <div class="container">
      <h2>Featured Content</h2>
      <ul class="features"><li>
          <span>
            <a href="/public">Presentations<span aria-hidden="true"></span></a>
          </span>
        </li><li>
          <span>
            <a href="#">Videos<span aria-hidden="true"></span></a>
          </span>
        </li><li>
          <span>
            <a href="#">Other Cool Stuff<span aria-hidden="true"></span></a>
          </span>
        </li></ul>

  
    </div>
</aside>